.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $white;
  margin-bottom: 40px;
  position: relative;
  padding: 0 15px;
  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: block;
      width: 245px;
      height: 40px;
      background-image: url(../img/logo.png);
      background-size: cover;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-between;
    }
    li {
      margin-left: 20px;
    }
    a {
      color: $white;
      font-weight: $font-w-m;
      @include zoom(0.2s);
    }
    li:hover > a {
      color: $lightgray;
    }
  }
  .material-icons {
    color: $white;
  }
  .showmenu {
    position: absolute;
    right: 8px;
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 12px;
    &-logo a {
      width: 147px;
      height: 24px;
    }
    &-list ul {
      flex-direction: column;
      display: none;
    }
    .showmenu {
      display: block;
    }
  }
}
